@tailwind base;
@tailwind components;
@tailwind utilities;

.xterm {
  height: 100%;
}
.xterm-screen {
  height: 100% !important;
}

/* Custom styles for horizontal scrollbars */
.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #e5e7eb;
}

/* Default styles for vertical scrollbars */
*:not(.custom-scrollbar)::-webkit-scrollbar {
  width: 10px;
}

*:not(.custom-scrollbar)::-webkit-scrollbar-track {
  background: transparent;  /* Changed to transparent */
}

*:not(.custom-scrollbar)::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  /* Optional: Add a border to make it look better on transparent background */
  border: 2px solid transparent;
  background-clip: content-box;
}

*:not(.custom-scrollbar)::-webkit-scrollbar-thumb:hover {
  background: #d9dade;
  background-clip: content-box;
}


.char-clamp {
  width:80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}